.rowbox {
    -fx-background-color:linear-gradient(#E6E6E6, #C3C3C3);
    -fx-border-color: #969696;
    -fx-border-width: 0 0 1 0;
    -fx-spacing: 10;
    -fx-vpos: center;
}
.radio-button {
    -fx-font-size: 12px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #9e9e9e;
    -fx-effect: innershadow( three-pass-box , rgba(20,20,20,0.7) , 2, 0.0 , 0 , 2 );
}
.welcome-text {
    -fx-font-size: 14px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #9e9e9e;
    -fx-effect: innershadow( three-pass-box , rgba(20,20,20,0.7) , 3, 0.0 , 0 , 2 );
}
